#profile {
    padding-top: 70px;
}

#profile h1 {
    color: #4d5154;
    font-weight: bold;
}

/*#profile .row {*/
    /*justify-content: center;*/
/*}*/

#profile .story a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}


#profile .header {
    text-decoration: none;
    color: #4d5154;
}


#profile .story a:hover {
    color: #4d5154;
}

#profile .story:hover {
    background-color: #f5f5f5;
}

#profile .story .date {
    color: grey;
}

#profile .ongoingStories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

#profile .ongoingStories .segments {
    overflow-y: scroll;
    height: 350px;
}

#profile .card {
    height: 400px;
}