.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*html {*/
  /*height: 100%;*/
/*}*/

/*body {*/
  /*font-family: verdana, arial, helvetica, sans-serif;*/
  /*height: 100%;*/

/*}*/

/*@font-face {*/
  /*font-family: lovelo;*/
  /*src: url('Lovelo Black.otf');*/
/*}*/


.lovelo {
  /*font-family: lovelo;*/
}

/*overriding external css*/
i.icon {
  margin: 0px;
  height: auto;
}


a {
  text-decoration: none !important;
  /*font-weight: bold;*/
  cursor: pointer;
  color: black;
  margin-right: 10px;
}

/*main {*/
  /*position: absolute;*/
  /*top: 100px;*/
  /*!*left: 100px;*!*/
/*}*/


.navbar-brand {
  font-family: lovelo;
}


.page {
  padding-top: 0px;
}

.page .pageTitle {
  background-color: #47deff;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.page .pageTitle h1 {
  font-weight: bold;
}


/*.container {*/
  /*margin-bottom: 40px;*/

/*}*/


.story .sentences .sentence {
  display: flex;
  margin-bottom: 10px;
}

.story .sentences .openingSentence {
  margin-bottom: 20px;
}

.story .sentences .sentence .upvotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-right: 10px;
}

.story .sentences .sentence .upvotes .value {
  color: grey;
}

.story .sentences .sentence .content .author {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.story .sentences .sentence .content .date {
  color: grey;
}


.profile .ongoingStories .story {
  cursor: pointer;

}

.profile .profileInfo {
  margin-bottom: 20px;

}

.teal {
  color: teal;
}

.red {
  color: red;
}

.adminDashboard .list {
  max-height: 500px;
  overflow-y: scroll;
}

.userReports .header span {
  font-weight: normal;
  color: grey;
}
