/*shared css styles*/

.page {
  padding-top: 50px;
  padding-bottom: 20px;
}

body {
  background-color: #deeeef;
  color: #4d5154;
}

.lovelo {
  font-family: lovelo;
}

i.icon {
  margin: 0;
  height: auto;
}

.navbar-brand {
  font-family: lovelo;
}

.navbar-light .navbar-nav .nav-link {
  color: grey;
}


.pageTitle {
  background-color: #aab3ba;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.pageTitle h1 {
  font-weight: bold;
}

.teal {
  color: teal;
}

.red {
  color: red;
}

.savingChangesMessage {
  position: fixed;
  bottom: 0;
  width: 50%;
  margin: 0 25% 25px 25%;
}

.ui.form .field>label {
  color: #4d5154;

}

.row {
  justify-content: center;
}