#adminDashboard a  {
    cursor: pointer;
    text-decoration: none;
    color: grey !important;
}

#adminDashboard .user:hover, #adminDashboard a:hover  {
    color: #4d5154 !important;

}

#adminDashboard .menu .item {
    /*background: none;*/
    border: none;
}

#adminDashboard .suspended {
    color:red;
}

#adminDashboard .userOption {
    width: 100px;
}