#landing a {
    font-weight: normal;
}

#landing a:hover {
    color: black;
}

#landing Link {
    text-decoration: none;
}

#landing .story {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
    cursor: pointer;
}

#landing .story:hover {
    border-color: #b3b2b2;
}

#landing .story {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}

#landing .story .content  {
    padding: 10px 0 10px 0;
}


#landing .story .content .storyTitle {
    font-weight: bold;
}

#landing .story .upvotes {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-right: 10px;
    padding: 10px 0 10px 0;
    width: 5%;
    border-radius: 5px 0 0 5px;
    background-color: #f5f5f5;
    font-weight: bold;
    justify-content: center;
}

#landing .story .upvotes .upvoteButton {
    color: #7e7b7b;
    border:none;
    background: none;
}

#landing .story .upvotes .up:hover {
    color: #7bd4ad;
}

#landing .story .upvotes .down:hover {
    color: #ff9393;
}


#landing .story .upvotes .upvoted {
    color: #7bd4ad;
}

#landing .story .upvotes .downvoted {
    color: #ff9393;
}

#landing .story .content {
    width: 95%
}

#landing .story .content .metadata {
    color: grey;
    font-size: 0.8rem;
}

#landing .story .content .metadata .author {
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

#story .story .content .metadata .author:hover {
    color: #4d5154;
}

#landing .story .content .metadata .inprogress {
    color: #ff9393;
}

#landing .row {
    justify-content: center;
}

/*#landing .offset-lg-3 {*/
    /*margin-left: 12.5%*/
/*}*/


/*#landing .story .content .metadata .completed {*/
    /*color: #ff9393;*/
/*}*/