#signup {
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(237, 236, 243, 0.5);
    position:fixed;

    display: flex;
    align-items: center;
    justify-content: center;
}

#signup form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.4);
    align-items: center;
}

#signup a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: dodgerblue;
}


#signup .profileIconContainer{
    margin-right: 20px;
    width: 250px;
    display: flex;
    justify-content: center
}

#iconImage{
    width:150px;
    height:150px;
    border-radius: 50%;
    /*position: relative;*/
    /*top: calc(50% - 75px);*/
}

#profileInputContainer{
    /*width:calc(100% - 250px);*/
    /*float: left;*/
}