header a,.act-as-a {
    cursor: pointer;
}

header a:hover {
    text-decoration: none;
}


header .user a {
    color: #4d5154 !important;
}

header .profilePic {
    background-color: #f5f5f5;
    margin: 0 10px 0 0;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}
