#loginbox-container{
    width: 100vw;
    height:100vh;
    z-index: 1;
    background-color: rgba(237, 236, 243, 0.5)

}


#loginbox{
    position: fixed;
    left:50vw;
    top:50vh;
    border: 1px solid blueviolet;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    overflow: hidden;
}

#loginbox button {
    background-color: rgb(54, 19, 182);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#loginbox button:hover {
    opacity: 0.8;
}


#loginbox input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.loginbox-container {
    padding: 50px;
    background-color: #ffffff;
}
  
  