#story a {
    font-weight: normal;
}

#story a:hover {
    color: #7bd4ad;
}

#story Link {
    text-decoration: none;
}

#story .story {
    display: flex;
    padding: 20px 50px 20px 20px;
    background-color: #aab3ba;
    color: white;
    margin: 20px 0 10px 0;
    border-radius: 5px;
}

#story .story .upvotes {
    background: none;
}

#story .sentence .upvotes {
    background-color: #f5f5f5;
}

#story .metadata .editButton {
    border: none;
    background: none;
    font-weight: bold;
}

#story .metadata .editButton:hover {
    color: #4d5154;
}


#story .textBox {
    margin-top: 50px;
}

#story .highlight {
    background-color: #FFFF00;
    color: #00000061;
}

#story .story .editBox label {
    color: white;
}

#story .sentence .editBox {
    width: 100%;
}


#story .sentence .editBox form {
    padding: 10px 10px 10px 0;
}

#story .sentence .editBox label {
    color: #4d5154;
}


